body{
    font-family: 'Open Sans', sans-serif;
}

.flex{
    display: flex;
}

.output{
    width: 50%;
    /*background-color: orange;*/
}

.output-ellie-container{
    width: 50%;
    /*background-color: blue;*/
}